main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 40rem), 1fr));
  gap: 2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.refineryGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
  /* width: 2--; */
  /* display: flex;
    gap: 2rem;
    margin-bottom: 2rem; */
  /* justify-content: space-between; */
}

/* .buyCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} */

.increment,
.decrement {
  background: #ccc;
  border: 1px solid #ccc;
  color: black;
  transition: filter 250ms;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    filter: brightness(110%);
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.numericInputContainer {
  display: flex;
}

.numericInput,
.select {
  min-width: 6rem;
  height: 2.8rem;
  font-size: 1.2rem;
  text-align: center;
}

.numericInput {
  border: 1px solid #ccc;
}

.numericInput::-webkit-outer-spin-button,
.numericInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.numericInputButton {
  border: none;
  width: 2rem;
}

.numericInputSpan {
  margin: auto 0.3rem;
}

.plus,
.minus {
  font-size: 1.2rem;
  transition: filter 200ms;
  cursor: pointer;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    scale: 0.95;
  }
}

.plus {
  background: #ddd;
  /* background-color: #4caf50; */
  border-radius: 0px 5px 5px 0px;
}

.minus {
  background: #ddd;
  /* background-color: #f6685e; */
  border-radius: 5px 0px 0px 5px;
}

.label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableHeader button {
  /* background: forestgreen; */
}

.rendimientoBar,
.dietaBar {
  display: flex;
}

.dietaBar span,
.rendimientoBar span {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dietaBar span:first-child,
.rendimientoBar span:first-child {
  text-transform: uppercase;
  font-weight: 500;
}

.dietaBar span:last-child,
.rendimientoBar span:last-child {
  font-size: 0.7rem;
}

.rendimientoBar div,
.dietaBar div {
  /* background-color: rebeccapurple; */
  padding: 1rem;
}

.rendimientoBar div:first-child,
.dietaBar div:first-child {
  border-radius: 8px 0 0 8px;
}

.rendimientoBar div:last-child,
.dietaBar div:last-child {
  border-radius: 0 8px 8px 0;
}

.rendimientoBar div:nth-child(2n),
.dietaBar div:nth-child(2n) {
  background-color: #eee;
}

.rendimientoBar div:nth-child(2n + 1),
.dietaBar div:nth-child(2n + 1) {
  background-color: #ccc;
}

.brentFormula {
  font-style: italic;
}

.operativeCost {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
}

.operativeCost + p {
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.derivativesSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 0.2rem;
  justify-items: center;
}

.ventasCard article {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border-radius: 8px;
  /* padding: 1rem 0.7rem; */
}

.ventasCard article h3 {
  margin-top: 0;
  text-align: center;
}

/* .ventasCard article:nth-child(2n) {
    background-color: #eee;
   
} */

.derivativeProfit {
  text-align: center;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.derivativeProfitDiff {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.derivativeProfit + p {
  margin-top: 0;
  text-align: center;
}

.positive {
  color: forestgreen;
}

.negative {
  color: firebrick;
}

.primeReactInputNumberButtons {
  background: #ccc;
  border: 1px solid #ccc;
  color: black;
  transition: filter 250ms;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    filter: brightness(110%);
  }
}

.graphContainer {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}
